.container{
    padding: 30px 45px;
    background-color: white;
    box-shadow: 10px 15px 20px rgb(99, 96, 96);
    font-family: Arial, Helvetica, sans-serif 800;
    border-radius: 5px
}

.recover_1{
    white-space: nowrap;
}
.formRecover{
    text-align: center;
}
.formRecover b{
    font-size: 15px;
}
.form-check {
    text-align: left;
    padding-left: 0 !important;
}

.enviar-correo{
    padding-left: 10px
}

.enviar-mensaje{
    padding-left: 10px
}

.correo{
    padding-left: 20px;   
    font-size: 2vh;
}

.numero{
    font-size: 2vh;
    padding-left: 20px; 
}